body{
    background-color: #e0e0e0;
    margin: 0;
    height: auto;
    width: auto; 
}

*{
    margin: 0%;
    height: auto;
    width: auto;
}

div{
    height: auto;
    width: auto;
}

.Header img {
    
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.section div img {
    
    height: 150px;
    width: 250px;
}

footer a img {
    height: 20px;
    width: 22px;
}

footer {
    background-color: rosybrown; /* Add background color for the footer */
}
Header {
    background-color: rosybrown; /* Add background color for the footer */
}

#list-view{
    margin: 2%;
}

#list-views{
    background-color: rgb(132,136,139);
    width: 40%;
}