body{
    background-color: #e0e0e0;
    margin: 0;
    height: auto;
    width: auto;
}

*{
    margin: 0%;
    height: auto;
    width: auto;
}

div{
    height: auto;
    width: auto;
}

.Header img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.Section img{

    height: 500px;
    width: 500px;
}

.Section1{
    width: 50%;
    height: 20%;
    background-color: rgb(132,136,139);
    margin: 2% auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.Section3 {
    margin: 2%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}


footer a img {
    height: 20px;
    width: 22px;
}

footer {
    background-color: rosybrown; /* Add background color for the footer */
}
Header {
    background-color: rosybrown; /* Add background color for the footer */
}