body{
    height: auto;
    width: auto;
}

*{
    height: auto;
    width: auto;
}

div{
    height: auto;
    width: auto;
}

.Header img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.Section img{
    height: 500px;
    width: 500px;
}

footer a img {
    height: 20px;
    width: 22px;
}